// Подключение шрифтов ===========================================================================================================================================================================================================================================================================
//&display=swap - добавить при подключении через плагин
@import url(https://fonts.googleapis.com/css?family=Inter:regular,600&display=swap);

// Парамерты по умолчанию ==============================================================================================================================================================================================================================================================================
// Шрифт и размер
$fontFamily: "Inter", sans-serif;
$fontSize: 12px;

// Основные цвета
:root {
	--bg-color: #fff;
	--font-color: #000;
	--primary-color: #3579f5;
}

// Минимальная ширина страницы
$minWidth: 320px;
// Ширина макета
$maxWidth: 1920px;

// Обнуление и общие параметры ============================================================================================================================================================================================================================================================================================================================================================================================
@import "base/_null";

// Оболочка ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	// overflow: hidden;

	// Прижимаем footer
	> main {
		flex: 1 1 auto;
		position: relative;
	}
	// Фикс для слайдеров
	> * {
		min-width: 0;
	}
}

// Подключение стилей отдельных элементов ======================================================================================================================================================================================================================
@import "./base/_common";

// Подключение стилей отдельных блоков ======================================================================================================================================================================================================================
@import "./blocks/_checklist";
